:root{
    --tranYellow:#ffdd0063;
}


.main{
    color:var(--fontColor);
}



.jobSelector{
    float: left;
    margin-left:calc(50% - 350px);
    list-style:none;

}
    .jobSelector li{
        width:200px;
        margin:0px;
        padding:20px 30px;
        border-left:2px solid var(--tranYellow);
    }
    .jobSelector li:hover{
        background-color:var(--tranYellow);
        cursor:pointer;
    }
    .jobSelected{
        border-left:2px solid var(--yellow) !important;
    }


.individualExperience{

    float:right;
    width:40vw;
    margin-right:calc(50% - 600px);

}


.jobDescription{
    list-style:none;
}
    .jobDescription li::before {
        content: "\25AA";
        color: var(--yellow);
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }