:root{
    --tranYellow:#ffdd0063;
}


@media only screen and (max-width: 2000px){
    .jobSelector{
        display:block!important;
    }
    .individualExperience{
        display:block!important;
    }
    .container{
        width:100%!important;
    }
}

.title{
 
    width:100%;
    text-align: center;
}
.yellow{
    color:var(--yellow);
    font-size:1em;
    font-weight:bolder;
}


.experience{
    color:var(--fontColor);
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    width:80%;
    max-width:700px;


    z-index:-1;
}

.jobSelector{
    float: left;

    list-style:none;
    width:300px;

    user-select: none;

}
    .jobSelector li{
        width:200px;
        margin:0px;
        padding:20px 0px 20px 30px;
        border-left:2px solid var(--tranYellow);
        transition:background-color .5s;


    }
    .jobSelector li:hover{
        background-color:var(--tranYellow);
        cursor:pointer;
    }
    .jobSelected{
        border-left:2px solid var(--yellow) !important;
        color:var(--yellow);
    }


.individualExperience{

    float:right;
    width:400px;
 

}
    .individualExperience p{
        margin:5px 0px 30px 0px;
    }


.jobDescription{
    list-style:none;
}
    .jobDescription li{
        margin: 10px 0px;
        padding-left:13px;
    }
    .jobDescription li::before {
        content: "\25AA";
        color: var(--yellow);
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }